
body {
    font-family: Arial, sans-serif;
    background-image: url(BLUEFLASH.jpg);
}
.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 20px;
}
.card {
    background-color: #f9f9f9;
    background-image: url(GRASSBG.jpg);
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}
.card:hover {
    transform: translateY(-10px);
}
.card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}
.card-background {
    height: 150px;
    background: linear-gradient(to bottom, #ffffff, #f1f1f1);
}
.card h3 {
    margin: 10px 0;
}
.card p {
    padding: 0 10px;
    color: #555;
}
.card-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.card-btn:hover {
    background-color: #0056b3;
}

.type-grass{
    background: #78c850;
    color: white;
    padding: 3px 6px;
    border-radius: 6px;
    margin: 0 2px;
}

.type-fire{
    background: #f08030;
    color: white;
    padding: 3px 6px;
    border-radius: 6px;
    margin: 0 2px;
}

.type-water{
    background: #6890F0;
    color: white;
    padding: 3px 6px;
    border-radius: 6px;
    margin: 0 2px;
}
